@charset "UTF-8";
@import '../base/index.less';
@css-prefix-select: ~"@{css-prefix}-select";

.@{css-prefix-select} {
    padding: 0;
    
    &-with-search {
        .@{css-prefix-select}-search-input {
            margin: 5px;
        }
    }

    &-options-panel {
        .overlay-style;
        display: none;
        position: relative;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
}


.@{css-prefix-select}-search-input {
    margin: 5px;
}
