@charset "UTF-8";
@import '../base/index.less';
@css-prefix-popconfirm: ~"@{css-prefix}-popconfirm";

.@{css-prefix-popconfirm} {
    & > .kui-poptip__tip {
        padding: 0;
    }

    &-content-inner {
        min-width: 300px;
        padding: 24px 0;

        // &::before {
        //     content: "";
        //     width: 20px;
        //     height: 20px;
        //     border: 1px solid #dfdfdf;
        //     position: absolute;
        //     top: -5px;
        //     left: 50%;
        //     margin-left: -11px;
        //     transform: rotate(45deg);
        //     background-color: #fff;
        //     z-index: -2;
        // }

        // &::after {
        //     content: "";
        //     width: 80%;
        //     height: 21px;
        //     border: none;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     background-color: #fff;
        //     z-index: -1;
        // }
    }
    &-intro {
        box-sizing: border-box;
        text-align: left;
        padding: 0 18px;
        color: #646464;
    }

    &-buttons {
        text-align: center;
        margin-top: 24px;

    }

    &-confirm-btn {
        margin-right: 0;
    }
    &-hide {
        display: none;
    }
}

